header{
    text-align: center;
    margin: 20px auto;
}

main{
    box-sizing: content-box;
    height: 700px;
    width: 1080px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

section#game{
    display: inline;
    float: left;
    margin: auto 10px;
}

aside#side_panel{
    display: inline;
    float: left;
    width: 340px;
    overflow-y: scroll;
}

#side_panel img{
    max-width: 270px;
}

h2{
    text-align: center;
    margin-top: .5em;
}

button#btn_go{
    margin-top: 1em;
}

p#player_score{
    text-align: center;
    font-size: 3em;
    font-family: "Courier New", sans-serif;
}

#memebox{
    display: none;
    position:relative;
    margin:50px auto;
    width: 300px;
    height: 300px;
    border: solid thin black;
    object-fit: contain;
}
/*#memebox>img{
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
}*/

footer{
    visibility: hidden;
    clear:both;
}