header{
    text-align: center;
    margin: 20px auto;
}

main{
    box-sizing: content-box;
    height: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#side_panel{
    overflow-y: scroll;
}

h2{
    text-align: center;
    margin-top: .5em;
}

button#btn_go{
    margin-top: 1em;
}

p#player_score{
    text-align: center;
    font-size: 3em;
    font-family: "Courier New", sans-serif;
}